<!DOCTYPE html>
<html lang="en">
	<head>
		<title>OpenFan</title>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="stylesheets/main.css">
	</head>
	
	<body>
		<header>
			<div class="top-nav">
				<div class="top-nav-info">
					<ul>
						<li><a href="#">fanminjian</a></li>
						<li><a href="#">Logout</li>
					</ul>
				</div>

				<div class="top-nav-items">
					<ul>
						<li><a href="#">OpenFan.net</a></li>
					</ul>
				</div>
			</div>
		</header>
		<%=yield%>
		<footer>
			<div class="bottom-nav">
				<div class="bottom-nav-items">
					<ul>
						<li><a href="#">About</a></li>
						<li><a href="#">Home</a></li>

					</ul>
				</div>
				<div class="bottom-nav-copyright">&copy; 2011 OpenFan.net. All rights reserved.</div>
			</div>
		</footer>
	</body>
</html>